* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", system-ui;
}

ul {
  list-style-type: none;
  margin: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.active {
  color: orange;
  border-bottom: 5px solid orange;
  padding: 16px 0;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header nav .nav {
    flex-direction: column;
    width: 100%;
  }
  header nav .nav .nav-left, header nav .nav .nav-center, header nav .nav .nav-right {
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }
  header nav .nav i.fa-bars {
    display: block;
    margin: 10px 0;
  }
}
nav {
  background-color: #F4F7FB;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 1em 0;
}
nav .nav .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2em;
}
nav .nav .nav-right img {
  width: 30px;
}
nav .nav .nav-center ul {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
  gap: 0.5em;
}
nav .nav .nav-center a {
  padding: 0 10px;
}
nav .nav .nav-center a {
  display: inline-block;
}
nav .nav .nav-center a:hover {
  color: white;
  background-color: orange;
}

.nav-center {
  display: inline-block;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
}

.fa-bars {
  visibility: hidden;
}

@media (max-width: 600px) {
  nav.nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-center {
    display: none;
  }
  .nav-center a {
    margin-bottom: 10px;
  }
  .fa-bars {
    visibility: visible;
  }
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}
.hero-container .left {
  flex: 1;
}
.hero-container .left span {
  color: #000;
  margin-bottom: 10px;
}
.hero-container .left h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
  margin-bottom: 20px;
}
.hero-container .left h1 span {
  color: orange;
  font-weight: 700;
  font-size: 3rem;
}
.hero-container .left p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 30px;
}
.hero-container .search-box {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  position: relative;
  align-items: center;
  box-shadow: 0 0 5px #ccc;
}
.hero-container .search-box .search-input {
  width: 80%;
  outline: none;
  border: none;
}
.hero-container .search-box .search-btn {
  padding: 10px 20px;
  width: 20%;
  font-size: 16px;
  height: 60px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-container .search-box .search-btn:hover {
  background-color: #333;
}
.hero-container .search-box .search-icon {
  margin: 0 1em;
}
.hero-container .cuts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}
.hero-container .cuts .cutt {
  text-align: center;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #F4F7FB;
  align-content: center;
}
.hero-container .cuts .cut1 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 50%;
  background-color: #000;
}
.hero-container .cuts .cut1 img {
  height: 30px;
  width: 30px;
}
.hero-container .cuts h6 {
  font-weight: bold;
  color: #000;
}

.right {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.right .piz1 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.right .piz1 img {
  width: 70%;
}
.right .pizzas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
}
.right .pizzas img:first-child {
  width: 22%;
}
.right .pizzas img {
  margin: 0 10px;
  width: 15%;
}

@media (max-width: 768px) {
  .hero .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero .hero-container .left {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  .hero .hero-container .left h1 {
    font-size: 1.5em;
  }
  .hero .hero-container .left .cuts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-container .left .cuts .cutt {
    margin: 10px 0;
  }
  .hero .hero-container .right {
    display: none;
  }
}
.menu {
  margin: 50px 0;
  padding: 0 20px;
  text-align: center;
}
.menu .yellow {
  color: orange;
  margin-bottom: 10px;
  font-weight: 600;
}
.menu h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
}
.menu ul li {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.menu ul li a {
  transition: color 0.3s ease;
}
.menu ul li a:focus {
  color: orange;
}
.menu hr {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .menu .menu-container {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  .menu .menu-container h1 {
    font-size: 1.5em;
  }
  .menu .menu-container ul li {
    margin: 5px 0;
  }
  .menu .variaties {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu .variaties .varieties-container {
    width: 100%;
    text-align: center;
  }
  .menu .variaties .varieties-container img {
    max-width: 80%;
    height: auto;
  }
}
.variaties {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.variaties .varieties-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
}
.variaties .varieties-container .v-c-bold {
  font-weight: bold;
}
.variaties .variaties-img {
  width: 130px;
  height: 130px;
}
.variaties .variaties-img img {
  width: 100%;
}
.variaties .varieties-content {
  background-color: #F4F7FB;
  padding: 5em 2em 4em 2em;
  margin-top: -4em;
  z-index: -1;
}
.variaties .varieties-content span {
  color: #ccc;
  display: inline-block;
  margin: 0.8em 0;
}
.variaties .varieties-btn {
  width: 100%;
  margin-top: -1.5em;
}
.variaties .varieties-btn button {
  background-color: #000;
  border: none;
  padding: 1em 3em;
  color: #fff;
}

.var-btn {
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.why-us-section {
  padding-top: 80px 0;
}
.why-us-section .why-us-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.why-us-section .why-us-image {
  height: 100vh;
}
.why-us-section .why-us-image img {
  width: 100%;
  height: 96%;
}
.why-us-section .why-us-content {
  width: 50%;
  height: 100vh;
  justify-content: center;
  padding-right: 10px;
}
.why-us-section .why-us-content .why-us-top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2em;
  margin-bottom: 0.5em;
}
.why-us-section .why-us-content .highlight {
  color: orange;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
}
.why-us-section .why-us-content h2 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 20px;
}
.why-us-section .why-us-content h2 .highlight-best {
  color: orange;
}
.why-us-section .why-us-content p {
  font-size: 1em;
  color: #000;
  margin-bottom: 30px;
  align-self: center;
}
.why-us-section .why-us-content .features {
  background-color: #F4F7FB;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2em;
  padding: 3em 2em;
}
.why-us-section .why-us-content .features .feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  background-color: #fff;
  gap: 1em;
  border-radius: 6px;
}
.why-us-section .why-us-content .features .feature .feature-img {
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us-section .why-us-content .features .feature .feature-img img {
  width: 40px;
  height: 40px;
}
.why-us-section .why-us-content .features .feature .feature-content {
  width: 80%;
}
.why-us-section .why-us-content .features .feature h4 {
  color: #000;
}

@media (max-width: 768px) {
  .why-us-section .why-us-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .why-us-section .why-us-container .why-us-image {
    display: none;
  }
  .why-us-section .why-us-container .why-us-content {
    text-align: center;
  }
  .why-us-section .why-us-container .why-us-content .why-us-top h2 {
    font-size: 1.5em;
  }
  .why-us-section .why-us-container .why-us-content .features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .why-us-section .why-us-container .why-us-content .features .feature {
    text-align: center;
  }
  .why-us-section .why-us-container .why-us-content .features .feature .feature-img img {
    max-width: 80%;
    height: auto;
  }
}
.support-section {
  background-color: white;
  padding: 60px 0;
  text-align: center;
}
.support-section .help-text {
  color: orange;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}
.support-section h2 {
  color: #000;
  font-size: 2em;
  margin-bottom: 40px;
}
.support-section .support-details {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.support-section .support-details .support-card {
  background-color: #F4F7FB;
  padding: 20px;
  box-shadow: 0px 4px 10px #F4F7FB;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-basis: 30%;
  transition: transform 0.3s;
}
.support-section .support-details .support-card:hover {
  transform: translateY(-10px);
}
.support-section .support-details .support-card .support_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #F4F7FB;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -40px;
}
.support-section .support-details .support-card .support_img img {
  width: 20px;
}
.support-section .support-details .support-card h5 {
  font-size: 1em;
  color: #000;
  margin-bottom: 10px;
}
.support-section .support-details .support-card p {
  font-size: 1em;
  color: #ccc;
}

@media (max-width: 768px) {
  .support-section .support-container {
    text-align: center;
    width: 100%;
  }
  .support-section .support-container .support-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .support-section .support-container .support-details .support-card {
    margin: 10px 0;
    width: 100%;
  }
}
footer {
  background-color: #000;
  padding: 40px 0;
  color: #ccc;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
footer .footer-left .footer-logo {
  max-width: 250px;
  margin-bottom: 20px;
}
footer .footer-left h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
footer .footer-left .social-icons {
  display: flex;
  gap: 1em;
}
footer .footer-left .social-icons img {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  transition: background-color 0.3s;
}
footer .footer-left .social-icons img:hover {
  background-color: #cc8400;
}
footer .quick-links h4 {
  font-size: 1em;
  margin-bottom: 20px;
}
footer .quick-links ul {
  list-style-type: none;
  padding: 0;
}
footer .quick-links ul li {
  margin-bottom: 10px;
}
footer .quick-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}
footer .quick-links ul li a:hover {
  color: orange;
}
footer .newsletter h4 {
  font-size: 500;
  margin-bottom: 20px;
}
footer .newsletter .mail-box {
  display: flex;
}
footer .newsletter .mail-box .input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 250px;
  font-size: 500;
  height: 60px;
  outline: none;
}
footer .newsletter .mail-box .subscribe-btn {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 500;
  cursor: pointer;
}
footer .newsletter .mail-box .subscribe-btn:hover {
  background-color: #cc8400;
}

@media (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
    width: 100%;
  }
  footer .footer-container .footer-left, footer .footer-container .quick-links, footer .footer-container .newsletter {
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }
}
.all-varieties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 3em;
}

.variaties {
  gap: 2em;
}

@media only screen and (max-width: 600px) {
  nav .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-left, .nav-center, .nav-right {
    width: 100%;
    text-align: center;
  }
  .nav-center ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .nav-center ul li {
    margin-bottom: 10px;
  }
  .menu-container h1, .menu-container span {
    text-align: center;
  }
  .shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .varieties-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .variaties-img img {
    max-width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .footer-left, .quick-links, .newsletter {
    width: 100%;
    margin-bottom: 20px;
  }
  .quick-links ul {
    display: flex;
    flex-direction: column;
  }
  .newsletter .mail-box {
    flex-direction: column;
    align-items: center;
  }
  .newsletter .input {
    width: 100%;
    margin-bottom: 10px;
  }
  .subscribe-btn {
    width: 100%;
  }
}