body {
  font-family: "Kanit", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #F4F7FB;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
}
nav .nav .nav-right img {
  padding-left: 15px;
  width: 50px;
}
nav .nav .nav-center ul {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
}
nav .nav .nav-center a {
  padding: 25px;
}
nav .nav .nav-center a {
  display: inline-block;
}
nav .nav .nav-center a:hover {
  color: white;
  background-color: orange;
}

.nav-center {
  display: inline-block;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
}

@media screen and (max-width: 600px) {
  .nav-center {
    display: none;
  }
  .nav-center a {
    margin-bottom: 10px;
  }
  .nav-center .fa-bars {
    display: inline-block;
  }
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}
.hero-container .left {
  flex: 1;
}
.hero-container .left span {
  color: #000;
  margin-bottom: 10px;
}
.hero-container .left h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
  margin-bottom: 20px;
}
.hero-container .left h1 span {
  color: orange;
  font-weight: 700;
  font-size: 3rem;
}
.hero-container .left p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 30px;
}
.hero-container .search-box {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  position: relative;
  align-items: center;
  box-shadow: 0 0 5px #ccc;
}
.hero-container .search-box .search-input {
  width: 80%;
  height: 60px;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  border: none;
}
.hero-container .search-box .search-btn {
  padding: 10px 20px;
  width: 20%;
  font-size: 16px;
  height: 60px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-container .search-box .search-btn:hover {
  background-color: #333;
}
.hero-container .search-box .search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
  pointer-events: none;
}
.hero-container .cuts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}
.hero-container .cuts .cutt {
  text-align: center;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #F4F7FB;
  align-content: center;
}
.hero-container .cuts .cut1 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 50%;
  background-color: #000;
}
.hero-container .cuts .cut1 img {
  height: 30px;
  width: 30px;
}
.hero-container .cuts h6 {
  font-weight: bold;
  color: #000;
}

.right {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.right .piz1 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.right .piz1 img {
  width: 70%;
}
.right .pizzas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  flex-wrap: nowrap;
  flex-direction: center;
}
.right .pizzas img:first-child {
  width: 22%;
}
.right .pizzas img {
  margin: 0 10px;
  width: 15%;
}

.menu {
  margin: 50px 0;
  padding: 0 20px;
  text-align: center;
}
.menu .yellow {
  color: orange;
  margin-bottom: 10px;
  font-weight: 600;
}
.menu h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
}
.menu ul li {
  font-size: 1.2rem;
  font-weight: bold;
}
.menu ul li a {
  transition: color 0.3s ease;
}
.menu ul li a:hover {
  color: orange;
  border-bottom: 5px solid orange;
  padding: 16px 0;
}
.menu hr {
  margin-top: 20px;
}

.variaties {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  align-items: center;
  margin: 60px;
}
.variaties .varieties-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
}
.variaties .varieties-container .var {
  width: 195px;
  align-items: center;
}
.variaties .varieties-container .v-c-bold {
  font-weight: bold;
}
.variaties .variaties-img {
  width: 130px;
  height: 130px;
}
.variaties .variaties-img img {
  width: 100%;
}
.variaties .varieties-content {
  background-color: #F4F7FB;
  padding: 5em 2em 4em 2em;
  margin-top: -4em;
  z-index: -1;
}
.variaties .varieties-content span {
  color: #ccc;
}
.variaties .varieties-btn {
  width: 100%;
  margin-top: -1.5em;
}
.variaties .varieties-btn button {
  background-color: #000;
  border: none;
  padding: 1em 4em;
  color: #fff;
}
.variaties .var-btn {
  background-color: yellow;
  align-items: center;
}

.why-us-section {
  padding: 90px 0;
}
.why-us-section .why-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
.why-us-section .why-us-image {
  flex: 1;
}
.why-us-section .why-us-image img {
  max-width: 100%;
}
.why-us-section .why-us-content {
  flex: 1;
  justify-content: center;
  padding-right: 10px;
}
.why-us-section .why-us-content .why-us-top {
  display: flex;
  align-items: flex-start;
  margin: 3em 15px 0 2.5em;
  flex-direction: column;
}
.why-us-section .why-us-content .why-us-top .feature-text {
  font-size: 1em;
}
.why-us-section .why-us-content .highlight {
  color: #000;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.why-us-section .why-us-content h2 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 20px;
}
.why-us-section .why-us-content h2 .highlight-best {
  color: orange;
}
.why-us-section .why-us-content p {
  font-size: 1em;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.6;
}
.why-us-section .why-us-content .features {
  background-color: #F4F7FB;
}
.why-us-section .why-us-content .features .feature {
  display: flex;
  align-items: center;
  margin: 3em 15px 0 2.5em;
  text-align: left;
  background-color: #fff;
}
.why-us-section .why-us-content .features .feature .feature-img {
  width: 70px;
  background-color: #000;
  border-radius: 50%;
  height: 70px;
  align-content: center;
  padding-left: 15px;
}
.why-us-section .why-us-content .features .feature img {
  width: 70%;
}
.why-us-section .why-us-content .features .feature h4 {
  font-size: 1.3rem;
  color: #000;
  margin-left: 25px;
}
.why-us-section .why-us-content .features .feature p {
  font-size: 1em;
  color: #ccc;
  margin-left: 25px;
  line-height: 1.5;
}

.support-section {
  background-color: white;
  padding: 60px 0;
  text-align: center;
}
.support-section .help-text {
  color: orange;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}
.support-section h2 {
  color: #000;
  font-size: 2em;
  margin-bottom: 40px;
}
.support-section .support-details {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.support-section .support-details .support-card {
  background-color: #F4F7FB;
  padding: 20px;
  box-shadow: 0px 4px 10px #F4F7FB;
  border-radius: 10px;
  text-align: center;
  flex-basis: 30%;
  transition: transform 0.3s;
}
.support-section .support-details .support-card:hover {
  transform: translateY(-10px);
}
.support-section .support-details .support-card img {
  width: 20px;
  margin-top: -30px;
}
.support-section .support-details .support-card h5 {
  font-size: 1em;
  color: #000;
  margin-bottom: 10px;
}
.support-section .support-details .support-card p {
  font-size: 1em;
  color: #ccc;
}

footer {
  background-color: #000;
  padding: 40px 0;
  color: #ccc;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
footer .footer-left .footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}
footer .footer-left h4 {
  font-size: 2em;
  margin-bottom: 10px;
}
footer .footer-left .social-icons {
  display: flex;
  gap: 10px;
}
footer .footer-left .social-icons img {
  width: 40px;
  height: 40px;
  background-color: #000;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
footer .footer-left .social-icons img:hover {
  background-color: #cc8400;
}
footer .quick-links h4 {
  font-size: 1em;
  margin-bottom: 20px;
}
footer .quick-links ul {
  list-style-type: none;
  padding: 0;
}
footer .quick-links ul li {
  margin-bottom: 10px;
}
footer .quick-links ul li a {
  color: orange;
  text-decoration: none;
  font-size: 1em;
}
footer .quick-links ul li a:hover {
  color: orange;
}
footer .newsletter h4 {
  font-size: 500;
  margin-bottom: 20px;
}
footer .newsletter .mail-box {
  display: flex;
}
footer .newsletter .mail-box .input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 250px;
  font-size: 500;
  height: 60px;
}
footer .newsletter .mail-box .subscribe-btn {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 500;
  cursor: pointer;
}
footer .newsletter .mail-box .subscribe-btn:hover {
  background-color: #cc8400;
}