@use"../utilities/mixins";
@use"./variables" as *;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Kanit", system-ui;
 
}


ul{
  list-style-type: none;
  margin: 0 10px;
}

a{
  color: $black;
  text-decoration: none;
}


.container{
  width: 80%;
  margin: 0 auto;
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden; 
  }

  header {
    nav {
      .nav {
        flex-direction: column; 
        width: 100%;

        .nav-left, .nav-center, .nav-right {
          text-align: center; 
          margin: 10px 0; 
          width: 100%; 
        }

        i.fa-bars {
          display: block; 
          margin: 10px 0;
        }
      }
    }
  }
}