@use"../utilities/mixins";
@use"./variables" as *;


body{
  font-family: "Kanit", system-ui;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0 10px;
}

a{
  color: $black;
  text-decoration: none;
}


.container{
  width: 80%;
  margin: 0 auto;
}


@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav, .hero, .menu, .footer .variaties .why-us-section .support-section{
    flex-direction: column; 
    justify-content: space-between;
  }

  .nav-left, .nav-center {
    flex: 1;
    display: grid;
    justify-content: space-between;
  }
  .nav-right{
    visibility: hidden;
  }

  .menu {
    flex-direction: column;
  }

  .footer{
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 1.8;
  }

  .container {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav, .hero, .menu, .footer {
    flex-direction: row;
  }

  .footer{
    flex-direction: column;
    justify-content: space-between;
  }
}