@use "../../utilities/variables" as *;

// Footer Section Styling
footer {
  background-color: $black;
  padding: 40px 0;
  color: $light-gray;

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .footer-left {
    .footer-logo {
      max-width: 150px;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    .social-icons {
      display: flex;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
        background-color: $black;
        padding: 10px;
        border-radius: 50%;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }

  .quick-links {
    h4 {
      font-size: 1em;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: $primary-color;
          text-decoration: none;
          font-size: 1em;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .newsletter {
    h4 {
      font-size: 500;
      margin-bottom: 20px;
    }

    .mail-box {
      display: flex;

      .input {
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        width: 250px;
        font-size: 500;
        height: 60px;
      }

      .subscribe-btn {
        padding: 10px 20px;
        background-color: $primary-color;
        border: none;
        border-radius: 0 5px 5px 0;
        color: #fff;
        font-size: 500;
        cursor: pointer;


        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
