@use "../../utilities/mixins" as *;
@use "./../../utilities/variables" as *;

.hero-container{
  @include flex(space-between,center, row);
  margin-top: 20px;
  gap: 20px;

  .left{
    flex: 1;
    span {
      color: $black;
      margin-bottom: 10px;
    }
    h1{
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
      margin-bottom: 20px;

      span {
        color: $primary-color;
        font-weight: 700;
        font-size: 3rem;
      }
    }
    p {
      font-size: 1rem;
      color: $black;
      margin-bottom: 30px;
    }
  }
  .search-box {
    display: flex;
    justify-content: start;
    
    margin-top: 20px;
    position: relative; 
    align-items: center;
    box-shadow: 0 0 5px $light-gray;
    
    .search-input {
      width: 80%;
      outline: none;
      border: none;
    }

    .search-btn {
      padding: 10px 20px;
      width: 20%;
      font-size: 16px;
      height: 60px;
      background-color: $black;
      color: white;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #333;
      }
      
      // styling the search icon
      }
      .search-icon {
        margin: 0 1em;
      }
      //   position: absolute;
      //   left: 20px; 
      //   top: 50%;
      //   transform: translateY(-50%);
      //   font-size: 18px;
      //   color: $black;
      //   pointer-events: none;
      // }
    }
    .cuts{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      gap: 30px;

      .cutt{
        text-align: center;
        padding: 2em;
        @include flex(center, center, column);
        background-color: $ba-nav;
        // height: 100px;
        align-content: center;
        
      }
      .cut1{
        width: 50px;
        height: 50px;
        @include flex(center, center, column);

        border-radius: 50%;
        background-color: $black;
        img{
          height: 30px;
          width: 30px;

          
        }
      }

      h6 {
        // font-size: ;
        font-weight: bold;
        color: $black;
      }
    }
}
.right{
  @include flex(flex,center,column);


  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;

  .piz1{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    img{
      width: 70%;
      // margin: 0 auto;
    }
  }

  .pizzas{
    @include flex(space-around, center, center);
    img:first-child{
      width: 22%;
    }
    img{
      // border-radius: 50%;
      margin: 0 10px;
      width: 15%;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero-container {
      display: flex;
      flex-direction: column; 
      width: 100%; 

      .left {
        text-align: center;
        padding: 20px;
        width: 100%; 

        h1 {
          font-size: 1.5em; 
        }

        .cuts {
          display: flex;
          flex-direction: column; 
          align-items: center;

          .cutt {
            margin: 10px 0; 
          }
        }
      }

      .right {
        display: none; 
      }
    }
  }
}


