@use "../../utilities/mixins" as *;
@use "./../../utilities/variables" as *;


.container {
  margin: 50px 0;
  padding: 0 20px;
  text-align: center;
 
  .span{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  span {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
  }

  // Heading styling (Special Menu For You)
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  // Menu list styling
  ul {
   @include flex(space-around, center);
    margin-top: 20px;

    li {
      font-size: 1.2rem;
      font-weight: bold;

      a {
        transition: color 0.3s ease;     

        &:hover {
          color: $primary-color;
          border-bottom: 5px solid $primary-color;
          padding: 16px 0;

        }

        
      }
    }
  }

  // Line below menu
  hr {
    margin-top: 20px;
    // margin-bottom: 80px;
    
  }
}
