@use "../../utilities/mixins" as *;
@use "./../../utilities/variables" as *;


.menu {
  margin: 50px 0;
  padding: 0 20px;
  text-align: center;
 
  // .span{
  //   font-size: 1rem;
  //   margin-bottom: 10px;
  // }
  .yellow {
    color: $primary-color;
    margin-bottom: 10px;
    font-weight: 600;
  }

  // Heading styling (Special Menu For You)
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  // Menu list styling
  ul {
   @include flex(space-around, center);
    margin-top: 20px;

    li {
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      
      
      a {
        transition: color 0.3s ease;     
        &:focus{
          color: $primary-color;
      }

        
      }

    }
  }

  // Line below menu
  hr {
    margin-top: 20px;
    // margin-bottom: 80px;
    
  }
}


// Menu Section Media Query
@media (max-width: 768px) {
  .menu {
    .menu-container {
      text-align: center; 
      padding: 20px;
      width: 100%; 

      h1 {
        font-size: 1.5em; 
      }

      ul {
        li {
          margin: 5px 0; 
        }
      }
      .select{
        // display: flex;
        // text-align: center;
        // justify-content: space-between;
        // align-items: center;
        font-size: .9em;
      }
    }

    .variaties {
      display: flex;
      flex-direction: column; 
      align-items: center;
      width: 100%; 

      .varieties-container {
        width: 100%; 
        text-align: center;

        img {
          max-width: 80%; 
          height: auto;
        }
      }
    }
  }
}
