@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
nav{
background-color: $ba-nav;

.nav{
  @include flex(space-between,center, row);
  .nav-right{
    display: flex;
    align-content: center;
    img{
    // padding-left: 15px;    
    width: 40px;
    // padding-left: 50px
    }
    img:nth-child(2){
      margin-right: 28em;
    }
  }
  

  .nav-center{

    ul{

      @include flex(flex,center,center);
      text-align: center;

    }
    a{
      padding: 25px;
    }
    a{
      display: inline-block;
      &:hover{
        color: white;
        background-color: $primary-color;
        height: 40%;
      }
    }
  }
}
}

.nav-center{
  display: inline-block;

    @include flex(flex,center,center);
    
   
  }

  // media queries
  @media screen and (max-width: 600px){
    .nav-center{
      display: none;
      a{
        margin-bottom: 10px;
      }.fa-bars{
        display: inline-block;
      }
    }
  }

