@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
nav{
background-color: $ba-nav;

.nav{
  @include flex(space-between,center, row);
  .nav-right{
    img{
    padding-left: 15px;    
    width: 50px;
    }
  }
  

  .nav-center{

    ul{
      // padding: 40px;
      @include flex(flex,center,center);

    }
    a{
      padding: 25px;
    }
    a{
      display: inline-block;
      &:hover{
        color: white;
        background-color: $primary-color;
      }
    }
  }
}
}

.nav-center{
  display: inline-block;

    @include flex(flex,center,center);
    
   
  }

  // media queries
  @media screen and (max-width: 600px){
    .nav-center{
      display: none;
      a{
        margin-bottom: 10px;
      }.fa-bars{
        display: inline-block;
      }
    }
  }

