@use "../../utilities/variables" as *;
@use '../../utilities/mixins' as *;

.variaties{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  align-items: center;
  margin: 60px;
  .varieties-container{
    @include flex(center, center, column );

    .var{
      width: 195px;
      align-items: center;
    }
    .v-c-bold{
      font-weight: bold;
    }
  }
  .variaties-img{
    width: 130px;
    height: 130px;
    
    img{
      width: 100%;
    }
      }
        .varieties-content{
          background-color: $ba-nav;
          padding: 5em 2em 4em 2em;
          margin-top: -4em;
          z-index: -1;

          span{
            color: $light-gray;
          }
        }
        .varieties-btn{
          width: 100%;
          margin-top: -1.5em;
          button{
            background-color: $black;
            border: none;
            padding: 1em 4em;
            color: #fff;
          }
        }
        .var-btn{
          background-color: yellow;
          align-items: center;
      
    }
    }
