@use "../../utilities/variables" as *;
@use '../../utilities/mixins' as *;

.variaties{
  display: flex;
  justify-content: space-evenly;

  // gap: 15em;
  align-items: center;

  .varieties-container{
    @include flex(center, center, column );
    // background-color: red;

    .var{
      width: 195px;
      align-items: center;
    }
    .v-c-bold{
      font-weight: bold;
    }
  }
  .variaties-img{
    width: 130px;
    height: 130px;

    img{
      width: 100%;
    }
      }
        .varieties-content{
          background-color: $ba-nav;
          // gap: 50px;
          padding: 5em 2em 4em 2em;
          margin-top: -4em;
          z-index: -1;

          span{
            color: $light-gray;
            display: inline-block;
            margin: .8em 0;
          }
        }
        .varieties-btn{
          width: 100%;
          margin-top: -1.5em;
          button{
            background-color: $black;
            border: none;
            padding: 1em 3em;
            color: #fff;
          }
        }
      
  }
      .var-btn {
      margin: 20px auto;     
      text-align: center; 
      padding: 10px 20px; 
      background-color: $primary-color;  
      color: #fff;          
      border: none;          
      border-radius: 5px;  
      cursor: pointer;      
  }
