@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

// Main section styles
.why-us-section {
  padding: 90px 0;

  .why-us-container {
  @include flex(space-around, center);
    max-width: 900px;
    margin: 0 auto;
    // padding: 20px;
  }

  .why-us-image {
    flex: 1;
  
    
    img {
      max-width: 100%;
      // border-radius: 10px;
    }
  }

  .why-us-content {
    flex: 1;
    // align-items: center;
    justify-content: center;
    padding-right: 10px;

    .why-us-top{
      display: flex;
      align-items:flex-start;
      margin: 3em 15px 0 2.5em;
      flex-direction: column;
      

      // Text
      .feature-text {
        font-size: 1em;
        // margin-left: 10px;
      }
    }

    // Highlight text
    .highlight {
      color: $black;
      font-weight: bold;
      display: block;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    // Main heading
    h2 {
      font-size: 2.5rem;
      color: $black;
      margin-bottom: 20px;

      .highlight-best {
        color: $primary-color;
      }
    }

    // Paragraph text
    p {
      font-size: 1em;
      color: $black;
      margin-bottom: 30px;
      line-height: 1.6;
    }

    // Flexbox layout for features
    .features {
      background-color: $ba-nav;

      
      
      // Individual feature block
      .feature {
        display: flex;
        align-items: center;
        margin: 3em 15px 0 2.5em;
        text-align: left;
        background-color: #fff;

       .feature-img{
          width: 70px;
          background-color: $black;
          border-radius: 50%;
          height: 70px;
          align-content: center;
          padding-left: 15px;
          // justify-content: center;
          
        }
        
        img {
          // align-items: center;
          width: 70%;
        }

        h4 {
          font-size: 1.3rem;
          color: $black;
          margin-left: 25px;
        }

        p {
          font-size: 1em;
          color: $light-gray;
          margin-left: 25px;
          line-height: 1.5;
        }
      }
    }
  }
}

// Why Us Section Media Query
@media (max-width: 768px) {
  .why-us-section {
    .why-us-container {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%; 

      .why-us-image {
        display: none; 
      }

      .why-us-content {
        text-align: center;

        .why-us-top {
          h2 {
            font-size: 1.5em; 
          }
        }

        .features {
          display: grid;
          grid-template-columns: 1fr; 
          gap: 10px;

          .feature {
            text-align: center;

            .feature-img {
              img {
                max-width: 80%; 
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
